<template>
  <v-list>
    <v-list-group
      v-for="([], letter, letterKey) in list"
      :key="letterKey"
      no-action
      value="true"
      sub-group
    >
      <template v-slot:activator>
        <v-list-item-content>
          <v-list-item-title>
            {{ letter|uppercase }}
          </v-list-item-title>
        </v-list-item-content>
      </template>

      <v-list-item
        v-for="(contact, contactKey) in list[letter]"
        :key="contactKey"
        :to="'/contact/' + contact.id"
        link
      >
        <v-list-item-icon>
          <v-icon>mdi-account-circle</v-icon>
        </v-list-item-icon>

        <v-list-item-title>
          {{ `${contact.firstName} ${contact.lastName}`|capitalize }}
        </v-list-item-title>
      </v-list-item>
    </v-list-group>
  </v-list>
</template>

<script>
export default {
  props: {
    list: {
      required: true,
    },
  },
};
</script>
