<template>
  <SP-InputSearch
    :model.sync="keyword"
    @update:model="search"
    label="Contact name"
  ></SP-InputSearch>
</template>

<script>
export default {
  data: () => ({
    keyword: null,
  }),
  methods: {
    search(value) {
      console.log('TO DO - search keyword:', value);
    },
  },
};
</script>
