<template>
  <v-navigation-drawer
    :dark="isLoading"
    v-model="drawerModel"
    :width="width"
    :mobile-breakpoint="mobileBreakpoint"
    :class="[!isLoading && 'drawer-with-gradient', `elevation-${elevation}`]"
    app
    floating
  >
    <ContactModalAdd
      :modalStatus="modalStatus"
      @modalClose="modalToggle()"
      @modalSave="contact => modalSave(contact)"
    />
    <template v-if="isLoading">
      <v-container fill-height>
        <v-layout align-center justify-center>
          <SP-LoaderSpinner/>
        </v-layout>
      </v-container>
    </template>
    <template v-else class="pa-6">
      <v-card
        :class="cardClasses"
        elevation="0"
      >
        <ContactSearch/>
      </v-card>
      <v-card
        :class="cardClasses"
        elevation="2"
      >
        <ContactsList :list="contactsList"/>
      </v-card>
      <v-card
        :class="cardClasses"
        elevation="0"
      >
        <v-btn
          color="success"
          class="btn-add-contact"
          @click="modalToggle()"
        >
          <v-icon left>mdi-account-plus</v-icon>
          Add new contact
        </v-btn>
      </v-card>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ContactModalAdd from '@/components/common/ContactModal/Add.vue';
import ContactSearch from './components/ContactSearch';
import ContactsList from './components/ContactsList';

// Local component default properties
const componentDefaults = {
  width: 320,
  breakpoint: 'sm',
  cardClasses: 'ma-3',
};

export default {
  computed: {
    ...mapGetters('ui', {
      drawer: 'getDrawer',
      isLoading: 'getLoaderDrawer',
    }),
    ...mapGetters('contacts', {
      contacts: 'getContacts',
      contactsLength: 'getContactsLength',
      contactsList: 'getContactsGroupedByLetter',
    }),
    drawerModel: {
      get() {
        return this.drawer;
      },
      set(value) {
        return this.$store.commit('ui/SET_DRAWER', value);
      },
    },
  },
  methods: {
    ...mapActions('ui', ['toggleLoaderDrawer', 'toggleLoader']),
    ...mapActions('contacts', ['setContacts', 'addContact']),
    toggleLoaders() {
      this.toggleLoaderDrawer();
      this.toggleLoader();
    },
    modalToggle() {
      this.modalStatus = !this.modalStatus;
    },
    modalSave(contact) {
      // Simulate a server side request
      const { requestDelay } = this.$config;

      this.modalToggle();
      this.toggleLoader();

      setTimeout(() => {
        this.addContact(contact)
          .then(() => {
            // Navigate to new added contact
            this.$router.push({
              name: 'contact',
              params: { contactId: contact.id },
            });
            this.toggleLoader();
          });
      }, requestDelay);
    },
  },
  mounted() {
    // Simulate a server side request
    if (!this.contactsLength) {
      const { contacts } = this.$backendData;
      const { requestDelay } = this.$config;

      this.toggleLoaders();
      setTimeout(() => {
        this.setContacts(contacts)
          .then(() => this.toggleLoaders());
      }, requestDelay);
    }
  },
  data() {
    const { width, breakpoint, cardClasses } = componentDefaults;
    const { elevation } = this.$config.theme;
    return {
      width,
      elevation,
      cardClasses,
      mobileBreakpoint: this.$vuetify.breakpoint.thresholds[breakpoint],
      modalStatus: false,
    };
  },
  components: {
    ContactSearch,
    ContactsList,
    ContactModalAdd,
  },
};
</script>

<style lang="scss" scoped>
  @import '~vuetify/src/styles/main.sass';

  $drawer-angle: 45;
  $drawer-color: map-get($grey, 'lighten-1');

  .drawer-with-gradient {
    background-image: linear-gradient($drawer-angle + deg, $drawer-color 0, transparent 50%);
  }

  .btn-add-contact {
    width: 100%;
  }
</style>
