<template>
  <v-main>
    <v-container
      :class="'pa-' + paddingUnit"
      color="primary"
    >
      <v-layout
        :class="[`pa-${paddingUnit}`, `elevation-${elevation}`]"
      >
        <v-flex>
          <v-fade-transition mode="out-in">
            <router-view/>
          </v-fade-transition>
        </v-flex>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>
// Local component default properties
const componentDefaults = {
  paddingUnit: 5,
};

export default {
  data() {
    const { paddingUnit } = componentDefaults;
    const { elevation } = this.$config.theme;
    return {
      paddingUnit,
      elevation,
    };
  },
};
</script>
