<template>
  <v-app-bar
    :height="height"
    :elevation="elevation"
    app
    dark
    >
    <v-btn
      @click="toggleDrawer()"
      :color="color"
      fab
      small
      class="mr-3 hidden-md-and-up">
      <v-icon dark>mdi-menu</v-icon>
    </v-btn>

    <v-toolbar-title
      dark
      class="headline"
    >
      Contact Manager App
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
import { mapActions } from 'vuex';

// Local component default properties
const componentDefaults = {
  height: 72,
};

export default {
  data() {
    const { height } = componentDefaults;
    const { elevation, primaryColor } = this.$config.theme;
    return {
      height,
      elevation,
      color: primaryColor,
    };
  },
  methods: {
    ...mapActions('ui', ['toggleDrawer']),
  },
};
</script>
