<template>
  <v-progress-linear
    :active="loader"
    :height="height"
    :background-opacity="bgOpacity"
    :color="color"
    indeterminate
    class="progress-bar"
    fixed
  ></v-progress-linear>
</template>

<script>
import { mapGetters } from 'vuex';

// Local component default properties
const componentDefaults = {
  height: 5,
  bgOpacity: '.5',
};

export default {
  computed: {
    ...mapGetters('ui', { loader: 'getLoader' }),
  },
  data() {
    const { height, bgOpacity } = componentDefaults;
    const { primaryColor } = this.$config.theme;
    return {
      height,
      bgOpacity,
      color: primaryColor,
    };
  },
};
</script>

<style lang="scss" scoped>
  .progress-bar {
    z-index: 90;
  }
</style>
