<template>
  <div>
    <h1 class="mb-2">Contact</h1>
    <ContactCard
      :contact="contact()"
      @contactDelete="id => contactDelete(id)"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ContactCard from '@/components/common/ContactCard';

export default {
  computed: {
    ...mapGetters('contacts', {
      getContact: 'getContactById',
    }),
  },
  methods: {
    ...mapActions('ui', ['toggleLoader']),
    ...mapActions('contacts', ['removeContact']),
    contact() {
      const { contactId } = this.$route.params;
      const contactData = this.getContact(contactId);

      if (!contactData) { return {}; }

      const { firstName, lastName, group } = contactData;

      return {
        id: contactId,
        fullName: this.$options.filters.capitalize(`${firstName} ${lastName}`),
        group: this.$options.filters.uppercase(group),
      };
    },
    contactDelete(id) {
      // Simulate a server side request
      const { requestDelay } = this.$config;

      this.toggleLoader();

      setTimeout(() => {
        this.removeContact(id)
          .then(() => {
            // Navigate to previous page
            this.$router.push({ name: 'home' });
            this.toggleLoader();
          });
      }, requestDelay);
    },
  },
  components: {
    ContactCard,
  },
};
</script>
