<template>
  <div>
    <h1 class="mb-2">Welcome</h1>
    <p>Use contacts drawer for navigation</p>
    <v-parallax
      height="150"
      :src="imgSrc"
    ></v-parallax>
  </div>
</template>

<script>
export default {
  data: () => ({
    imgSrc: 'https://cdn.vuetifyjs.com/images/parallax/material2.jpg',
  }),
};
</script>
