<template>
  <v-dialog
    v-model="modalStatus"
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title>
        <span class="headline">Add new contact</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="firstName"
                label="First Name"
                required
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="lastName"
                label="Last name"
                hide-details
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
            >
              <v-select
                v-model="group"
                :items="groups"
                label="Group"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-text>
        <v-alert
          :value="validationError"
          type="error"
          transition="scale-transition"
        >
          All fields are mandatory!
        </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="error"
          text
          @click="close()"
        >
          Close
        </v-btn>
        <v-btn
          color="success"
          text
          @click="save()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

const initialData = {
  validationError: false,
  firstName: null,
  lastName: null,
  group: null,
};

export default {
  props: {
    modalStatus: {
      required: true,
    },
  },
  data() {
    const { groups } = this.$backendData;
    return {
      groups,
      ...initialData,
    };
  },
  methods: {
    resetData() {
      // Reset modal data
      Object.keys(initialData).forEach(key => {
        this[key] = initialData[key];
      });
    },
    close() {
      this.$emit('modalClose');
    },
    save() {
      const { firstName, lastName, group } = this;
      const addedContact = {
        id: uuidv4(),
        firstName,
        lastName,
        group,
      };
      const validationError = Object.values(addedContact).includes(null);

      if (validationError) {
        this.validationError = true;
        return false;
      }

      this.resetData();
      return this.$emit('modalSave', addedContact);
    },
  },
};
</script>
