<template>
    <v-card
      :max-width="cardMaxWidth"
      :elevation="0"
      :class="'pa-' + paddingUnit"
      outlined
      shaped
    >
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title class="headline">
            {{ contact.fullName }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ contact.group }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-avatar color="primary">
          <v-icon dark size="35">
            mdi-account-cog
          </v-icon>
        </v-avatar>
      </v-list-item>

      <v-card-actions>
        <v-btn
          tile
          color="success"
          disabled
        >
          <v-icon left>
            mdi-pencil
          </v-icon>
          Edit

        </v-btn>
        <v-btn
          tile
          color="error"
          @click="remove()"
        >
          <v-icon left>
            mdi-delete
          </v-icon>
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
// Local component default properties
const componentDefaults = {
  cardMaxWidth: 320,
  paddingUnit: 4,
  elevation: 0,
};

export default {
  props: {
    contact: {
      required: true,
    },
  },
  data() {
    const { cardMaxWidth, paddingUnit, elevation } = componentDefaults;
    return {
      cardMaxWidth,
      paddingUnit,
      elevation,
    };
  },
  methods: {
    remove() {
      this.$emit('contactDelete', this.contact.id);
    },
  },
};
</script>
