<template>
  <v-app>
    <LoaderProgress/>
    <Drawer/>
    <Header/>
    <ContentRouter/>
  </v-app>
</template>

<script>
import Vue from 'vue';
import '@/helpers/filters';
import config from '@/config';
import backendData from '@/data';
import {
  global as globalComponents,
  layout as layoutComponents,
} from '@/components/';

// Declaring config global variable
Vue.prototype.$config = config;
// Due lack of any backend service, get static data from FrontEnd side
Vue.prototype.$backendData = backendData;

export default {
  created() {
    // This global Vue variable will be exposed only in development mode
    if (config.isDev) {
      window.Vue = this;
    }
  },
  // Components registered locally
  components: layoutComponents,
};

// Components registered globally - accessible everywhere in the app
Object.keys(globalComponents)
  .forEach(c => Vue.component(`${config.globalComponentPrefix}-${c}`, globalComponents[c]));
</script>
