<template>
  <v-text-field
    v-model="inputValue"
    :prepend-icon="icon"
    :label="label"
    solo
    clearable
    hide-details
  ></v-text-field>
</template>

<script>
export default {
  props: {
    model: {
      default: '',
    },
    label: {
      default: 'Search',
    },
    icon: {
      default: 'mdi-text-box-search',
    },
  },
  data() {
    return {
      inputValue: this.model,
    };
  },
  watch: {
    inputValue(value) {
      this.$emit('update:model', value);
    },
  },
};
</script>
