<template>
  <v-progress-circular
    :color="color"
    :size="size"
    :width="width"
    indeterminate
  ></v-progress-circular>
</template>

<script>
// Local component default properties
const componentDefaults = {
  size: 50,
  width: 3,
};

export default {
  data() {
    const { size, width } = componentDefaults;
    const { primaryColor } = this.$config.theme;
    return {
      color: primaryColor,
      size,
      width,
    };
  },
};
</script>
